/*-----------------------------------------------
             IdeaL specific styles
-----------------------------------------------*/
@import "ideal/idea-styles";
@import "ideal/head-to-head";
@import "ideal/front-columns";
@font-face {
    font-family: 'Alef';
    src: url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-bold.eot');
    src: url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-bold.woff') format('woff'),
         url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-bold.ttf') format('truetype'),
         url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Alef';
    src: url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-regular.eot');
    src: url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-regular.woff') format('woff'),
         url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-regular.ttf') format('truetype'),
         url('http://ideas.drupal.org.il/profiles/idea/themes/plato/Alef/Alef-Webfont/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}